body{
    background-image: url(images/hd_stone_background_by_supertwistedgaming-d5ywlyk.jpg);
}
div#шапка{
    color:white;
    text-align: right;
    width:1200px; 
    margin:0 auto;
    height : 200px;
    background-image: url(images/lll.png);
}
div#меню{
    text-align: left;
    width: 200px;
    height: 600px;
    float: left; 
    background-image: url(images/ffff.png);
    opacity: 0.7;
    color:aqua;
}
div#контент{
    width: 1000px; 
    float: right; 
    height: 600px; 
    background: #ddd;
}
#список{
list-style-type: none;
} 